
/*body {margin:10em 10em 10em 10em;}*/

.container {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

/*// NAVBAR ################################################*/
.navigation-bar {
    background-color: #333;
    text-align: center;
    width: 100%;
}

.navigation-bar a {
    list-style-type: none;
    color: #f2f2f2;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 1.5em;
    display: inline-block;
}

.navigation-bar a:hover {
    background-color: green;
    color: black;
}

/*.navigation-bar a.active {*/
    /*background-color: #4CAF50;*/
    /*color: white;*/
/*}*/

/*// HOME ################################################*/



.button {
    background-color: #4CAF50; /* Green */
    margin-top: 2em;
    border: none;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 0.5em;
}

