
body {
    background-color: rgba(249, 255, 230, 0.78);
    padding: 1em;
}

.container {
    width: 70%;
    margin: auto;

}

/*// NAVBAR ################################################*/
.navigation-bar {
    background-color: #333;
    border-radius: 0.5em;

}

.navigation-bar a {
    color: #f2f2f2;
    padding: 0.9em 1.8em;
    border-radius: 0.5em;
    border: solid #333;
    text-decoration: none;
    font-size: 1.5em;
    display: inline-block;
}

.navigation-bar a:hover {
    background-color: #eeeeee;
    color: black;
    border-radius: 0.5em;
    border: solid black;

}

/*.navigation-bar a.active {*/
    /*background-color: #4CAF50;*/
    /*color: white;*/
/*}*/

/*// HOME ################################################*/


.button {
    background-color: #4CAF50; /* Green */
    margin-top: 2em;
    border: none;
    color: white;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 0.5em;
}

/*// QUESTion ################################################*/

.question {

    background-color: #eeeeee;
    padding: 1.5em;
    margin-top: 1em;
    border-radius: 0.5em;
    border: solid;

}

.scoreText {

    margin: auto;

}
.scoreContainer {

    background-color: #eeeeee;
    padding: 1.5em;
    margin-top: 1em;
    border-radius: 0.5em;
    border: solid;
    text-align: center;

}

p a {
    text-decoration: none;
    color: black;
    padding: 0.5em 0.2em 0.5em 0.2em;
}

p a:hover {
    color: black;
    border: solid black;
    border-radius: 0.2em;
    padding: 0.5em 0.5em 0.5em 0.2em;
}
