@(number: Int, question: String, a: String, b: String, c:String, d:String)


@main("Welcome to Play") {

@*
* Get an `Html` object by calling the built-in Play welcome
* template and passing a `String` message.
*@

    <div class="question">
        <h3>@question</h3>
        <p>@a</p>
        <p>@b</p>
        <p>@c</p>
        <p>@d</p>
        <form action="@routes.HomeController.checkAnswer(number)" method="post">
            <input name="answerCode" type="text">
            <button>Submit</button>
        </form>
    </div>

}