@(number: Int, question: String, a: String, b: String, c:String, d:String)


@main("Welcome to Play") {

@*
* Get an `Html` object by calling the built-in Play welcome
* template and passing a `String` message.
*@

    <div class="question">
        <h3 >@question</h3>
        <p><a href="@routes.HomeController.checkAnswerOnClick(number, "a")">@a</a></p>
        <p><a href="@routes.HomeController.checkAnswerOnClick(number, "b")">@b</a></p>
        <p><a href="@routes.HomeController.checkAnswerOnClick(number, "c")">@c</a></p>
        <p><a href="@routes.HomeController.checkAnswerOnClick(number, "d")">@d</a></p>
        <form action="@routes.HomeController.checkAnswer(number)" method="post">
            <input name="answerCode" type="text">
            <button>Submit</button>
        </form>
    </div>

}